<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>
    {{>header}}
    <p class="text2">This app was Created by Rodrigo Costa Valle.</p>
    <p class="text2">It uses data from mapbox.com and weatherstack.com</p>
    <p class="text2">Thanks to Andrew Meads from the course "The Complete Node.js Developer Course (3rd Edition)" disponible in Udemy.com</p>
    {{>footer}}
</body>
</html>